.imageContainer {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.front {
  margin-top: 7%;
  width: auto;
  height: 750px;
}

.back {
  margin-top: 7%;
  margin-left: 10%;
  width: auto;
  height: 750px;
}

.highlight {
  position: absolute;
  background-color: red;
  opacity: 0.5;
  pointer-events: none;
}
