.imageContainer {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.front {
  margin-top: 7%;
  width: auto;
  height: 750px;
}

.back {
  margin-top: 7%;
  margin-left: 10%;
  width: auto;
  height: 750px;
}

.highlight {
  position: absolute;
  background-color: red;
  opacity: 0.5;
  pointer-events: none;
}

/* .button-container {
  display: flex;
  justify-content: flex-end;
} */

.submit-button {
  font-size: 20px;
  background-color: #092fa2;
  border: none;
  width: 220px;
  height: 80px;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-size: xx-large;
}
