.response-div {
	display: flex;
	flex-direction: row; /* Stack the cards horizontally */
	align-items: center; /* Center children vertically */
	justify-content: center; /* Center children horizontally */
	height: 100vh;
	background-color: white;
	gap: 25px; /* Gap between cards */
}
