
.multi-select-div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	gap: 20px;
}

.dropdown-container {
	display: flex;
	flex-direction: row;
	align-items: flex-start; /* Align at the top */
	justify-content: center;
	gap: 40px;  /* Adjust as needed */
}

.card {
	width: 100%;
	max-width: 10%rem;
}

.submit-btn-details {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	width: 20rem;
	height: 10%;
	padding: 10px;
	background-color: #092fa2;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 24px;
	cursor: pointer;
}


