input::placeholder {
  color: #8ba1e3;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
}

input::content {
  color: #092fa2;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.inputContainer {
  padding-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.relative-wrapper {
  position: relative;
  top: 150px;
  display: inline-block;
}

.inputBoxes {
  width: 478px;
  height: 85px;
  font-size: 40px;
  padding: 15px;
  color: #000000;
}

.email {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  position: relative;
  right: 40%;
  padding: 0;
  margin: 0;
}

.password {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  position: relative;
  right: 35%;
  padding: 0;
  margin: 0;
}

.password-conf {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  position: relative;
  right: 35%;
  padding: 0;
  margin: 0;
  right: 65px;
}

.signup {
  font-size: 20px;
  background-color: #092fa2;
  border: none;
  width: 478px;
  height: 80px;
  position: relative;
  left: 481px;
  top: 100px;
  border-radius: 5px;
}

.link-style {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  color: white;
  text-decoration: none;
  font-size: xx-large;
}
